<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Content</p>

* [What is API?](#1)
* [PyODBC](#2)
* [Connect to SQL Server](#3)
    * [1. Windows Authentication](#3.1)    
    * [2. SQL Server Authentication](#3.2)
* [Cursor Operations](#4)
    * [1. Execute](#4.1)
    * [2. Fetchone](#4.2)
    * [3. Fetchmany](#4.3)
    * [4. Fetchall](#4.4)
* [How to Create a Dataframe from a query result?](#5)
    * [1. pd.dataframe](#5.1)
    * [2. pd.read_sql](#5.2)
* [How to transfer a dataframe to SQL Server?](#6)
    * [1. Using PyODBC](#6.1)
    * [2. Using SQLAlchemy](#6.2)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">What is API?</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<div class="alert alert-block alert-success">

- <font color=darkblue>An <font color=red>API</font>, or <font color=red>Application Programming Interface</font>, is a set of rules and protocols that allows different software applications to communicate and interact with each other. It defines the methods and data formats applications can use to request and exchange information, enabling them to work together seamlessly. APIs play a crucial role in enabling the integration of services, data, and functionalities across various software systems.</font>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">PyODBC</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<div class="alert alert-block alert-success">

- <font color=darkblue><font color=red>PyODBC</font> is a Python module that enables you to connect and interact with relational databases, such as Microsoft SQL Server, using the <font color=red>Open Database Connectivity (ODBC)</font> standard. It provides a convenient way to perform database operations in Python, including querying, inserting, updating, and deleting data, making it a valuable tool for working with databases in Python applications.</font>

In [ ]:
#pip install pyodbc

In [4]:
import pyodbc

**!! On Mac,**,  if you do not already have an ODBC driver manager, you may need to first install unixODBC using a tool like Homebrew.

`brew install unixodbc`
<br>`pip install pyodbc`

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Connect to SQL Server</p>

<a id="3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [4]:
help(pyodbc.connect)

# Accepts an ODBC connection string and returns a new Connection object.

Help on built-in function connect in module pyodbc:

connect(...)
    connect(str, autocommit=False, ansi=False, timeout=0, **kwargs) --> Connection

    Accepts an ODBC connection string and returns a new Connection object.

    The connection string will be passed to SQLDriverConnect, so a DSN connection
    can be created using:

      cnxn = pyodbc.connect('DSN=DataSourceName;UID=user;PWD=password')

    To connect without requiring a DSN, specify the driver and connection
    information:

      DRIVER={SQL Server};SERVER=localhost;DATABASE=testdb;UID=user;PWD=password

    Note the use of braces when a value contains spaces.  Refer to SQLDriverConnect
    documentation or the documentation of your ODBC driver for details.

    The connection string can be passed as the string `str`, as a list of keywords,
    or a combination of the two.  Any keywords except autocommit, ansi, and timeout
    (see below) are simply added to the connection string.

      connect('server=localhost;user=me')
      connect(server='localhost', user='me')
      connect('server=localhost', user='me')

    The DB API recommends the keywords 'user', 'password', and 'host', but these
    are not valid ODBC keywords, so these will be converted to 'uid', 'pwd', and
    'server'.

    Special Keywords

    The following specal keywords are processed by pyodbc and are not added to the
    connection string.  (If you must use these in your connection string, pass them
    as a string, not as keywords.)

      autocommit
        If False or zero, the default, transactions are created automatically as
        defined in the DB API 2.  If True or non-zero, the connection is put into
        ODBC autocommit mode and statements are committed automatically.

      ansi
        By default, pyodbc first attempts to connect using the Unicode version of
        SQLDriverConnectW.  If the driver returns IM001 indicating it does not
        support the Unicode version, the ANSI version is tried.  Any other SQLSTATE
        is turned into an exception.  Setting ansi to true skips the Unicode
        attempt and only connects using the ANSI version.  This is useful for
        drivers that return the wrong SQLSTATE (or if pyodbc is out of date and
        should support other SQLSTATEs).

      timeout
        An integer login timeout in seconds, used to set the SQL_ATTR_LOGIN_TIMEOUT
        attribute of the connection.  The default is 0 which means the database's
        default timeout, if any, is used.

In [5]:
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client RDA 11.0',
 'SQL Server Native Client 11.0',
 'PostgreSQL ANSI(x64)',
 'PostgreSQL Unicode(x64)',
 'ODBC Driver 17 for SQL Server']

#### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Windows Authentication</p>

<a id="3.1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [7]:
conn_string = "driver={ODBC Driver 17 for SQL Server}; server=localhost; database=master; TRUSTED_CONNECTION=yes;"

In [8]:
conn = pyodbc.connect(conn_string)

#### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">SQL Server Authentication</p>

<a id="3.2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [ ]:
driver = '{ODBC Driver 17 for SQL Server}'
server = 'localhost'
database = 'master'
user = 'sa'
password = '----'

In [ ]:
conn = pyodbc.connect(DRIVER = driver, SERVER= server, DATABASE = database, UID= user, PWD= password)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Cursor Operations</p>

<a id="4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<div class="alert alert-block alert-success">

- <font color=darkblue>A cursor is a database object or programming construct used in database management systems (DBMS). It acts as a pointer to a specific row within a result set from a database query. Cursors are commonly used in programming languages like Python to navigate and manipulate data retrieved from a database, allowing for actions such as fetching, updating, and deleting records in a systematic manner.</font>

Help on built-in function cursor:

cursor(...) method of pyodbc.Connection instance
    Return a new Cursor object using the connection.

In [9]:
crs = conn.cursor()

In [10]:
type(crs)

pyodbc.Cursor

#### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Execute</p>

<a id="4.1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [9]:
conn.autocommit = True

In [10]:
crs.execute('create DATABASE TestA')

In [15]:
crs.execute('USE TestA')

In [19]:
def execute_query(conn, query):
    crs = conn.cursor()
    try:
        crs.execute(query)
        conn.commit()
        print("Query Succeessful!")
    except Error as err:
        print(f"Error:'{err}'")

In [22]:
query = 'CREATE TABLE TestTable (\
           ID INT IDENTITY (1,1) NOT NULL, \
           FirstName VARCHAR(255) NOT NULL,\
           LastName VARCHAR(255) NOT NULL,\
           PRIMARY KEY(ID))'

In [23]:
execute_query(conn, query)

Query Succeessful!

In [ ]:
crs.execute("INSERT TestTable (FirstName, LastName) VALUES ('Bob', 'Marley')")

In [ ]:
crs.execute("INSERT TestTable (FirstName, LastName) VALUES (?,?)",'Tom', 'Cat')
crs.execute("INSERT TestTable (FirstName, LastName) VALUES (?,?)",'Jerry', 'Mouse')
crs.execute("INSERT TestTable (FirstName, LastName) VALUES (?,?)",'Owen', 'William')
crs.execute("INSERT TestTable (FirstName, LastName) VALUES (?,?)",'Stefan', 'Müller')

#### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Fetchone</p>

<a id="4.2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<div class="alert alert-block alert-success">

- <font color=darkblue>Retrieves the next row of a query result set as a tuple or None if there are no more rows to fetch.</font>

In [ ]:
crs.execute('SELECT FirstName, LastName FROM TestTable')

In [ ]:
crs.fetchone()

In [ ]:
crs.execute('SELECT ID, FirstName, LastName FROM TestTable')
rows = crs.fetchone()
rows

#### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Fetchmany</p>

<a id="4.3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<div class="alert alert-block alert-success">

- <font color=darkblue>Retrieves a specified number of rows from a query result set, returning them as a list of tuples.</font>

In [ ]:
crs.execute("""SELECT ID, FirstName, LastName 
               FROM TestTable""")
rows = crs.fetchmany(3)
rows

In [ ]:
crs.fetchmany(3)

#### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Fetchall</p>

<a id="4.4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<div class="alert alert-block alert-success">

- <font color=darkblue>Retrieves all the remaining rows from a query result set and returns them as a list of tuples.</font>

In [ ]:
crs.execute('SELECT ID, FirstName, LastName FROM TestTable')
rows = crs.fetchall()
rows

In [ ]:
for row in rows:
    print(row.ID, row.FirstName, row.LastName)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">How to Create a Dataframe from a query result?</p>

<a id="5"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [ ]:
#pip install pandas

In [ ]:
import pandas as pd

#### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">pd.Dataframe</p>

<a id="5.1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [ ]:
crs.execute('SELECT * FROM TestTable')
result = crs.fetchall()
result

In [1]:
df = pd.DataFrame(result)
df

NameError: name 'pd' is not defined

In [ ]:
from_db = []

for result in result:
    result = list(result)
    from_db.append(result)

In [ ]:
from_db

In [ ]:
columns = ['ID','FirstName', 'LastName']
df = pd.DataFrame(from_db, columns = columns)
df

#### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">pd.read_sql</p>

<a id="5.2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [ ]:
query = 'USE SampleRetail'
execute_query(conn,query)

In [ ]:
crs.execute("SELECT * FROM product.product").fetchall()

In [ ]:
df_prod = pd.read_sql("SELECT * FROM product.product", con = conn)
df_prod.head(10)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">How to transfer a dataframe to SQL Server?</p>

<a id="6"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

#### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Using PyODBC</p>

<a id="6.1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<div class="alert alert-block alert-success">

- <font color=darkblue>Although the way to send a Dataframe to SQL Server using the <font color=red>PyODBC</font> module is a bit indirect, it can meet the need. To do this, you first need to create an empty table with the column structure of the Dataframe you will send to SQL Server, and then insert the data from the Dataframe into this table.</font>

In [ ]:
query = """
        CREATE TABLE product_new1 (
            product_id int,
            product_name varchar(255),
            brand_id int,
            category_id int ,
            model_year int,
            list_price decimal(10,2)
        )
        """
execute_query(conn, query)

In [ ]:
df_prod.to_dict('records')

In [ ]:
df_prod2 = df_prod.to_dict('records')

In [ ]:
for v in df_prod2:
    print(v)

In [ ]:
for v in df_prod2:
    print(v['product_id'], v['list_price'])

In [ ]:
sql = 'INSERT product_new1 VALUES(?,?,?,?,?,?)'

In [ ]:

for v in df_prod2:
    crs.execute(sql, (v['product_id'], v['product_name'], v['brand_id'], v['category_id'], v['model_year'], v['list_price']))

#### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Using SQLAlchemy</p>

<a id="6.2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<div class="alert alert-block alert-success">

- <font color=darkblue><font color=red>SQLAlchemy</font> is an open-source SQL toolkit and Object-Relational Mapping (ORM) library for Python programming language. It provides a set of high-level API (Application Programming Interface) for interacting with relational databases, allowing developers to work with databases using Python objects and methods rather than raw SQL queries.</font>

In [ ]:
#  Creating engine for MS SQL Server

server = 'localhost'
dbname = '--' # The database name you want to work.
driver = 'ODBC+Driver+17+for+SQL+Server'

engine = create_engine(f'mssql+pyodbc://{server}/{dbname}?trusted_connection=yes&driver={driver}')

In [ ]:
type(engine)

<div class="alert alert-block alert-success">

- <font color=darkblue>Begin by creating a connection. Then, use Pandas' <font color=red>to_sql</font> method to send the dataframe to SQL Server as a table. 

<span style="display:inline-block;background-color:#5bc0de;color:#fff;border-radius:100%;padding:2px 6px;font-size:18px;line-height:1;">i</span> <font color=darkpink>When performing this operation with SQLAlchemy, there is no need to create an empty table or perform an insert operation.</font>

In [ ]:
df_prod.to_sql('product_new2', engine, 'Product', index=False, if_exists='fail') # replace or append can be used